<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="economy-style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
    <table class="coinTable" v-if="coinList.length > 0">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th>코인명</th>
                <th>거래시간</th>
                <th>현재가</th>
                <th>시가</th>
                <th>고가</th>
                <th>저가</th>
                <th>전일대비(원)</th>
                <th>전일대비(%)</th>
            </tr>
        </thead>
        <tbody>
            <tr  v-for="index in List" class="row">
                <td class="name">{{name[index].replace('KRW-', '')}}</td>
                <td class="tradeTime">{{tradeTime[index]}}</td>
                <td class="curPrice">{{curPrice[index]}}</td>
                <td class="opPrice">{{opPrice[index]}}</td>
                <td class="highP">{{highP[index]}}</td>
                <td class="lowP">{{lowP[index]}}</td>
                <td class="chWon">{{chWon[index]}}</td>
                <td class="chPer">{{(chPer[index]*100).toFixed(2)}}</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                // 변수 - (key : value)
                coinList:[],
                name:[],
                tradeTime:[],
                curPrice:[],
                opPrice:[],
                highP:[],
                lowP:[],
                chWon:[],
                chPer:[],
                List:[0,1,2,3,4],
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnBit: function () {
                let self = this;
                $.ajax({
                    url: "https://api.upbit.com/v1/ticker?markets=KRW-BTC,KRW-ETH,KRW-SOL,KRW-XRP,KRW-USDT",
                    dataType: "json",
                    type: "GET",
                    success: function (data) {
                        console.log(data);
                       if (data) {
                            self.coinList = data;
                            for(let i=0; i<5;i++){
                            self.name[i] = self.coinList[i].market;
                            self.tradeTime[i] = self.coinList[i].trade_time_kst;
                            self.curPrice[i] = self.coinList[i].trade_price;
                            self.opPrice[i] = self.coinList[i].opening_price;
                            self.highP[i] = self.coinList[i].high_price;
                            self.lowP[i] = self.coinList[i].low_price;
                            self.chWon[i] = self.coinList[i].signed_change_price;
                            self.chPer[i] = self.coinList[i].signed_change_rate;
                            }
                        }
                    },
                });
            },
            fnPcheck: function(){
                for(let i=0;i<5;i++){
                    if(self.chWon[i]<0){
                        let obj = document.querySelector(".row");
                        obj.style.backgroundcolor = "red";
                        obj.style.color = "white";
                    }
                }
            },
            
        }, // methods
        mounted() {
            // 처음 시작할 때 실행되는 부분
            this.fnBit();
            this.fnPcheck();
        }
    });

    app.mount('#app');
</script>