        .container{
            width: 1300px;
            height: 750px;
            margin: 0% auto;
            box-sizing: border-box;
            border-radius: 2%;
            box-shadow:3px 3px 3px gray;
            display: grid;
            grid-template-columns: 250px 1fr 120px 250px;
            /* grid-template-rows: 50px minmax(200px, auto) minmax(800px, auto) 150px; */
            grid-template-areas:
            "header header header header"
            "Lbar main btn Rbar";            
        }
        .header{
            width: 100%;
            height: 100%;
            grid-area: header;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .txtbox{
            /* width: 1200px; */
            height: 50px;
            /* border: 1px solid black; */
            /* background-image: ; */
            transform-style:preserve-3d;
            position: relative;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .txt{
            width: 100%;
            height: 100%;
            /* border: 1px solid red; */
            font-size: 30px;
            white-space: nowrap; /* 텍스트가 길어도 절대 줄바꿈 하지 않음 */
            overflow: hidden;    /* 화면 밖으로 나가는 부분은 숨김*/
            position: absolute;
            background-color: black;
            border-radius: 10px;
            z-index: 1;
        }
        .boxbanner{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgb(234, 151, 255);
            /* border: 1px solid red; */
            font-size: 30px;
            border-radius: 10px;
            cursor: pointer;
            color: #00000086;
            z-index:2;
        }
        .swiper {
            width: 100%;
            height: auto;
            /* wdith : 800px 등 원하는 크기 가능 */
        }
        .swiper-wrapper{
            font-size: 40px;
        }
        #sidebar{
            grid-area: Lbar;
            height: 700px;
            width:  250px;
            background-color: rgb(86, 86, 233);
            color: white;
            text-align: center;
            border-top-left-radius: 2%;
            border-bottom-left-radius: 2%;
            display: flex;
            flex-direction: column;
            position: relative;

        }
        #main{
            grid-area: main;
            box-sizing: border-box;
            transform-style:preserve-3d;
            background-color: beige;
            transform-origin: left;
        }
        .sec{
             margin-left: 30px;
        }
        .sec li{
            list-style-image: url(../media/dot.png);
        }
        #vid{
            width: 150px;
            height: 150px;
            display: block;
            position: relative;
            top: 15px;
            left: 50px;
        }
        #img{
            width: 150px;
            height: 115px;
            display: inline-block;
            position: absolute;
            top: 32px;
            left: 50px;
            object-fit: cover;
            
        }
        #box1{
            width: 100%;
            height: 100%;
            display: block;
            /* position: relative;
            top: 15px;
            left: 50px; */
        }
        #img:hover {
           opacity: 0;
        }
        #namecard{
            display: block;
        }
        #detail{
            display: block;
        }
        #sns{
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
        }
        
        .btnsns{
         text-decoration: none;  
         align-content: center;
         top: px;
         border-radius:38%;
            width: 70px;
            height: 40px;
            position: absolute;
            left: 90px;
            background-color: white;
            color: rgb(86, 86, 233);
        }
        .btnsns:hover{
            background-color: rgb(86, 86, 233);
            color: white;
        }
        #main h2{
            border-left: 5px solid rgb(86, 86, 233);
        }
        tr td{
            border: 2px solid gray;
        }
        .table{
            border: 2px solid gray;
            width: 500px;
            text-align: center;
            border-collapse: collapse;
        }
        .table thead{
            background-color: rgb(86, 86, 233);
            color: white;
        }
        .timebox{
            position: absolute;
            bottom: 10px;
            left: 50px;
        }
        #time{
            color: violet;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        .mainBtn{
            grid-area: btn;
            height: 700px;
            background-color: beige;
            color: white;
            text-align: center;
            /* border-top-right-radius: 2%; */
            /* border-bottom-right-radius: 2%; */
            display: grid;
            grid-template-rows: repeat(5, 1fr);
        }
        .mainBtn button{
            font-size: 15px;
            font-weight: bold;
            font-style: oblique;
            border-radius: 10px;
            width: 100px;
            height: 100px;
            margin-top: 20px;
            background-color: rgb(255, 150, 112);
            color: #3d5770;
            transition: transform 0.5s ease; 
            transform: scale(1);
        }
        .mainBtn button:hover{
            transform: scale(1.2);           
            
        }
        .Rsidebar{
            grid-area: Rbar;
            height: 700px;
            width:  250px;
            background-color: rgb(86, 233, 221);
            color: white;
            text-align: center;
            /* border-top-right-radius: 2%; */
            border-bottom-right-radius: 2%;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
        }
        #weatherbox{
            position: relative; 
            width: 100%; 
            height: 250px; 
            background-size: cover;
            background-position: center;
            display: block;
        }
        #weatherbox img {
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: transform 0.5s ease; 
            transform: scale(1);  
        }
        #weatherbox img:hover {
            transform: scale(1.2);           
            z-index: -10;
        }
        #coinbox{
            position: relative; 
            width: 100%; 
            height: 250px; 
            background-size: cover;
            background-position: center;
            display: block;
        }
        #coinbox img {
            width: 100%;
            height: auto;
            cursor: pointer;
            transition: transform 0.5s ease; 
            transform: scale(1);  
        }
        #coinbox img:hover {
            transform: scale(1.2);           
            z-index: -10;
        }
        #back{
            position: relative;
            left: 25px;
            top: 25px; 
            width: 80%; 
            height: 80%; 
            background-size: cover;
            background-position: center;
            display: block;
            cursor: pointer;
        }
        #backbox{
            transition: transform 0.5s ease; 
            transform: scale(1);
        }
        #backbox:hover {
            transform: scale(1.2);           
        }
        @keyframes rotate{
            0%{transform: rotateY(0deg);}
            100%{transform: rotateY(180deg);}
        }
